nav{
    background-color: rgba(185, 225, 252, 0.712) !important;
    border-radius: 5px;
   
}

.container{
    background-color:  rgba(162, 190, 252, 0.226) ;
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 100px !important;
    box-shadow: 0 10px 15px rgba(4, 119, 185, 0.432) !important;
}
.form-label{
  font-weight: 500;
}
.btn{
  background-color: rgb(3, 27, 70);
  color: white;
  transition: all 0.3s ease;
}
.btn :hover{
  .btn:hover {
    background-color: rgb(6, 45, 112); /* A lighter shade for hover */
    color: white; /* Keep it white or change if needed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
  }
}